@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #06101a;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 7px;
  opacity: 0; /* Initially hide the scrollbar */
  transition: opacity 0.3s;
}

::-webkit-scrollbar-track {
  background: #0d2c54;
}

::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Show scrollbar when hovering over the scrollable container */
.scrollable-container:hover::-webkit-scrollbar {
  opacity: 1;
}

/* Animations */
.xx-m {
  animation: xx-m 1s infinite;
}

@keyframes xx-m {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.xx-u {
  animation: xx-u 1s infinite;
}

@keyframes xx-u {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.xx-s {
  animation: xx-s 1s infinite;
}

@keyframes xx-s {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.xx-c {
  animation: xx-c 1s infinite;
}

@keyframes xx-c {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}

.xx-o {
  animation: xx-o 1s infinite;
}

@keyframes xx-o {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Form Items */
.form-item {
  margin-bottom: 1rem;
  background-color: rgb(201, 194, 207);
  padding: 0.15rem;
  border-radius: 5px;
  width: 50%;
  border: 1px solid rgb(5, 55, 55) !important;
  flex-wrap: wrap !important;
}

.form-item:focus-within {
  background-color: #4196ff;
  outline: none;
}

@media screen and (max-width: 1024px) {
  .form-item {
    width: 100% !important;
  }
}

/* Buttons */
button {
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions for buttons */
  border-radius: 5px; /* Rounded corners for buttons */
}

/* Return to Homepage button */
button.bg-blue-600 {
  background-color: #2563eb; /* Bright blue */
}

button.bg-blue-600:hover {
  background-color: #1d4ed8; /* Darker blue on hover */
  transform: scale(1.05); /* Slight scale-up on hover */
}

/* Logout button */
button.bg-red-600 {
  background-color: #dc2626; /* Bright red */
}

button.bg-red-600:hover {
  background-color: #b91c1c; /* Darker red on hover */
  transform: scale(1.05); /* Slight scale-up on hover */
}

/* Tailwind CSS Breakpoints */
/* 
  
  sm: 640px
  md: 768px
  lg: 1024px
  xl: 1280px
  2xl: 1536px
  Breakpoint prefix	Minimum width	CSS
  sm	640px	@media (min-width: 640px) { ... }
  md	768px	@media (min-width: 768px) { ... }
  lg	1024px	@media (min-width: 1024px) { ... }
  xl	1280px	@media (min-width: 1280px) { ... }
  2xl	1536px	@media (min-width: 1536px) { ... }
 
  */

@keyframes runningColor {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 200%;
  }
  100% {
    background-position: 0%;
  }
}

.gradient-text {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100px;
  background-image: linear-gradient(
    90deg,
    theme("colors.indigo.500"),
    /* Indigo from Tailwind */ theme("colors.blue.500"),
    /* Blue from Tailwind */ theme("colors.green.500"),
    /* Green from Tailwind */ theme("colors.yellow.500"),
    /* Yellow from Tailwind */ theme("colors.purple.500")
      /* Purple from Tailwind */
  );
  animation: runningColor 10s infinite ease-out;
}
